#!/bin/bash

#vars
export PORT=80
export GALAXY_URL_PREFIX=/galaxy
export GALAXY_TOOL_DEPS_DIR="/export/tool_deps"
export TOOLS_VENV={{ laniakea_galaxy_venv_dir }}

# Remove conda.lock file if present
rm -f -- $GALAXY_TOOL_DEPS_DIR/conda.lock

# Install tools
. $TOOLS_VENV/bin/activate;

galaxy-wait -g http://localhost:$PORT$GALAXY_URL_PREFIX -v --timeout 120 && 
shed-tools install -g http://localhost:$PORT$GALAXY_URL_PREFIX -a $1 -t $2 --log_file /tmp/install_tools.log;
